
.jumbotron {
    background-color: #21325a;
    padding: 50px; 
    margin: 25px; 
    color: white;
}

.display-5 {
    font-weight: 700; 
    text-align: center;
}

.btn-style {
    font: serif; 
}